# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
tmp/
log/
/.bin/**
/makefile.mk
/cover.xml
/cover.json

# Test binary, build with `go test -c`
*.test
test_report/*

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.coverprofile
.scannerwork/

# Library
vendor

# Env
.env*
!.env.example
!.env.unittest
.todos.json

__debug_bin

# IDE Config
.idea/
.vscode/
.DS_Store
doakes.iml